body{
    background-color: #03bdff;
    font-family: 'Open Sans', sans-serif;
}
.text-shadow-primary p{
    text-shadow: .1em .1em .2em #03bdff;;
}
.text-shadow-warning p{
    text-shadow: .1em .1em .2em #ffc107;;
}
.text-shadow-light p{
    text-shadow: .1em .1em .2em #eee;;
}
.span1, .span2, .span3, .span4, .span5, .span6,.span7, .span8{
    display: inline-block;
}
.span1:hover, .span2:hover, .span3:hover, .span4:hover, .span5:hover, .span6:hover, .span7:hover, .span8:hover{
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-box-shadow: 1px 1px 1px hsla(196, 100%, 51%, 0);
            box-shadow: 1px 1px 1px hsla(196, 100%, 51%, 0);
}
.bosh{
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.bosh:hover{
    color: tomato ;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    font-size: 2em;
    z-index: 11;
    -webkit-transform: skew(6deg,-1deg);
        -ms-transform: skew(6deg,-1deg);
            transform: skew(6deg,-1deg);
}
.jg2{  height: 3em; width: 100%;}
.jg2:hover {
    position: relative;
    margin-bottom: 2em;
    font-size: 1em;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    display: inline-block;
    -webkit-animation: .8s shake infinite alternate;
            animation: .8s shake infinite alternate;
  }

  @-webkit-keyframes shake {
    0% { -webkit-transform: skewX(-15deg); transform: skewX(-15deg); color: tomato;}
    5% { -webkit-transform: skewX(15deg); transform: skewX(15deg); }
    10% { -webkit-transform: skewX(-15deg); transform: skewX(-15deg); }
    15% { -webkit-transform: skewX(15deg); transform: skewX(15deg); }
    20% { -webkit-transform: skewX(0deg); transform: skewX(0deg); }
    100% { -webkit-transform: skewX(0deg); transform: skewX(0deg);  }  
  }

  @keyframes shake {
    0% { -webkit-transform: skewX(-15deg); transform: skewX(-15deg); color: tomato;}
    5% { -webkit-transform: skewX(15deg); transform: skewX(15deg); }
    10% { -webkit-transform: skewX(-15deg); transform: skewX(-15deg); }
    15% { -webkit-transform: skewX(15deg); transform: skewX(15deg); }
    20% { -webkit-transform: skewX(0deg); transform: skewX(0deg); }
    100% { -webkit-transform: skewX(0deg); transform: skewX(0deg);  }  
  }