<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,500&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="style/css.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
    <div class="header">
        <div class="container">
            <div class="logo">ToDo list</div>
            <div class="form">
                <input type="text" v-bind:value="valueInput" v-on:input="hadlyInput" v-on:keypress.enter="addTask">
                <button class="btn" v-on:click="addTask">Добавить дело</button>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>
            <span>To Do</span>
            <span class="mask-num">{{ needDoList.length }}</span>
        </h2>
        <ul class="mask-list">
            <li v-for="(mask, index) in needDoList" :key="mask.id" >
                <div>
                    <input type="checkbox" v-on:change="doCheck(index, 'need')">
                    <span>{{ mask.title }}</span>
                </div>
                <button class="btn-remove" @click="removeMask(index, 'need')">Remove</button>
            </li>
        </ul>
        <h2>
            <span>Done</span>
            <span class="mask-num">{{ completeList.length }}</span>
        </h2>
        <ul class="mask-list complete-list">
            <li v-for="(mask, index) in completeList" :key="mask.id" >
                <div>
                    <input type="checkbox" v-on:change="doCheck(index, 'complete')" checked>
                    <span>{{ mask.title }}</span>
                </div>
                <button class="btn-remove" @click="removeMask(index, 'complete')">Remove</button>
            </li>
        </ul>
    </div>
    </div>
    <script src="script/js.js"></script>
</body>
</html>